<h1>All Posts</h1>
<%= link_to "Create New Post", new_post_path %>

<ul>
<% @posts.each do |post| %>
    <li>
    <h3><%= link_to post.title, post_path(post) %></h3>
    <p><%= post.body %></p>
    </li>
<% end %>
</ul>